<div id="<%= dom_id sponsor %>" class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
          <img class="d-flex mx-auto h-50 w-auto mw-100" src=" <%= sponsor.imageLink %>" >
        <div class="card-body text-center">
            <h5 class="card-title" ><%= sponsor.title %> </h5>
            <a class="btn btn-primary" target="_blank" href="<%= sponsor.link %>" >Visit Site</a>
        </div>
      </div>

<%= link_to "Back to sponsors", sponsors_path %>