<div class= "container-fixed float-top">

<%= turbo_frame_tag page do %>
<div id="<%= dom_id page %>" class="container bg-light topPadding pb-2">




<header class="masthead bg-light text-center">
  <div class="container d-flex align-items-center flex-column">
    
  	<h1 class="masthead-heading text-uppercase mb-0">
    <%= link_to page.title,
                page_path(page),
                data: { turbo_frame: "_top" } %>
                </h1>
  </div>
  
  <hr>
  <p class="fs-6 fw-bold"><%= page.content %></p>


</header>

  <%= link_to "Edit",
                  edit_page_path(page),
                  class: "btn btn--light" %>
    </div>
    <% end %>
    </div>