<main class="container">
<%= turbo_stream_from "quotes" %>


<p style="color: green"><%= notice %></p>

<h1>Pages</h1>

<div id="pages">

  <% @pages.each do |page| %>
    <%= turbo_frame_tag "second_frame" do %>
    <%= render page %>
    <% end %>

  <% end %>
</div>
<div class= "container">
 <%= turbo_frame_tag "first_turbo_frame" do %>
<% if user_signed_in? %>
<%= link_to "New page",
                new_page_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Page.new) } %>
<%end%>
</div>
<%end%>

</main>