<%= form_with(model: photo_album) do |form| %>
  <% if photo_album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(photo_album.errors.count, "error") %> prohibited this photo_album from being saved:</h2>

      <ul>
        <% photo_album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :imagelink, style: "display: block" %>
    <%= form.text_field :imagelink %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
