<!DOCTYPE html>
<html>
  <head>
    <title>HarmonyRemake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class= "bg-primary">
<nav class="navbar bg-danger text-uppercase fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" id="navbarTextWhole" href="/">Harmony Club of Worcester</a>
        <a class="navbar-brand" id="navbarTextSmall" href="/">Harmony Club</a>
        <button id="dropdownButton" class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-bars"></i> Font Awesome fontawesome.com -->
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive" style="">
          <ul class="navbar-nav ms-auto">
            <!-- Code to go through the sections in the database -->
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <a class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown" role="button" aria-expanded="false" data-bs-toggle="dropdown" href="#">Golf Tournament</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-label="navbarDropdown">
                      <!-- sort pages associated with a section by the position attribute -->
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/d7535a51-d981-45db-8f3d-d19370c26ea3">2022 Golf Tournament </a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/26e87c17-6d85-47c4-a420-fa03b8bf68fc">2022 Golf Tournament </a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/9af11c68-121a-466f-b33b-d319d62d2283">Application for Golf tournament</a>
                            
                          
                    </ul>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <a class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown" role="button" aria-expanded="false" data-bs-toggle="dropdown" href="#">About Us</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-label="navbarDropdown">
                      <!-- sort pages associated with a section by the position attribute -->
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                              <li class="dropdownBoxes"><a class="dropdown-item navbarLink" href="/web/site/our-history">Our History</a></li>
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                              <li class="dropdownBoxes"><a class="dropdown-item navbarLink" href="/web/site/club-officers">Club Officers</a></li>
                    </ul>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <a class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown" role="button" aria-expanded="false" data-bs-toggle="dropdown" href="#">Meeting Agendas  </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-label="navbarDropdown">
                      <!-- sort pages associated with a section by the position attribute -->
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/d4c930e4-c194-4325-b0eb-cb51f1bb9733">May 2022 Agenda</a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/9b2c0a93-4690-4b50-9c4b-105a32a14731"> September 2022 Agenda</a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/457459cb-1587-487a-8056-ceb40cf65c6e">Meeting Agenda October 13, 2022</a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/e2e12f46-3efd-4d96-b668-79f1ac0408c4">November Agenda 2022</a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/61f68ba4-550e-41db-b0a5-138e67e0b4be">June 2022 Agenda</a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/3e67ae4c-75f6-444e-86f7-f07c09d3628c">Agenda November 2022</a>
                            
                          
                    </ul>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <!-- if only has one page, change the section from a dropdown to a normal link -->
                        <a class="nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown navbarLink" href="/web/events/index">Events</a>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                  <a class="navbarDropdown nav-link text-light py-3 px-0 px-lg-3 rounded text-white navbarLink" href="#">Our Members</a>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <!-- if only has one page, change the section from a dropdown to a normal link -->
                            <a class="nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown navbarLink" href="/web/site/pdf/580301a3-8c27-4bc0-9e94-38baf3d12274">Kids Christmas Party</a>
                            
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <!-- if only has one page, change the section from a dropdown to a normal link -->
                        <a class="nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown navbarLink" href="/web/albums/index">Gallery</a>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <!-- if only has one page, change the section from a dropdown to a normal link -->
                        <a class="nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown navbarLink" href="/web/sponsors/index">Sponsors</a>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <!-- if only has one page, change the section from a dropdown to a normal link -->
                            <a class="nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown navbarLink" href="/web/site/pdf/93cf6a45-ac65-43fb-ac69-6b2f87f7b380">Scholarship</a>
                            
              </li>
          </ul>
          <ul class="navbar-nav ms-auto">



          <!-- checks if the user is signed in and whether or not they should have access to the control panel-->
            <!-- show the sign in button if they aren't signed in -->
              <li class="nav-link navbarDropdown mx-0 mx-lg-1 navbarLink"> <a class="nav-link text-light" href="/auth/site/panel"><img class="acc-button" alt="log in button" src="https://harmonyclubofworcester.org/assets/matchlogin-8cafe86222bb7d4facf82db26597634f9f388440d45ff62123ef50689b506a1e.png"></a> </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
<div class="bg-danger text-light">
      <div class="container">
          <div class="text-center border-bottom border-light p-1">
            <a class="text-light text-decoration-none" href="/">Harmony Club of Worcester | 2022</a>
          </div>
          <div class="row justify-content-center pt-1">
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Golf Tournament</h6>
              <ul class="d-inline footer-list">
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">About Us</h6>
              <ul class="d-inline footer-list">
                <li>
                      </li><li class="dropdownBoxes"><a class="footer-link" href="/web/site/our-history">Our History</a></li>
                
                <li>
                      </li><li class="dropdownBoxes"><a class="footer-link" href="/web/site/club-officers">Club Officers</a></li>
                
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Meeting Agendas  </h6>
              <ul class="d-inline footer-list">
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Events</h6>
              <ul class="d-inline footer-list">
                <li>
                    <a class="footer-link" href="/web/events/index">Calendar</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Kids Christmas Party</h6>
              <ul class="d-inline footer-list">
                <li>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Sponsors</h6>
              <ul class="d-inline footer-list">
                <li>
                    <a class="footer-link" href="/web/sponsors/index">Sponsors</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Scholarship</h6>
              <ul class="d-inline footer-list">
                <li>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
