<!DOCTYPE html>
<html>
  <head>
    <title>Harmony Club Of Worcester</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "custom" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('https://harmonyclubofworcester.org/assets/hcwLogo-b78312cdba5ec1b95f3c1ea372c49ae8bbc2f1940f53cfc3acda2312efacbc58.png') %>
  </head>

  <body class= "bg-primary">
   <nav class="navbar bg-danger text-uppercase fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" id="navbarTextWhole" href="/">Harmony Club of Worcester</a>
        <a class="navbar-brand" id="navbarTextSmall" href="/">Harmony Club</a>
        <button id="dropdownButton" class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-bars"></i> Font Awesome fontawesome.com -->
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <!-- Code to go through the sections in the database -->
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <a class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown" role="button" aria-expanded="false" data-bs-toggle="dropdown" href="#">Golf Tournament</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-label="navbarDropdown">
                      <!-- sort pages associated with a section by the position attribute -->
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/d7535a51-d981-45db-8f3d-d19370c26ea3">2022 Golf Tournament </a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/26e87c17-6d85-47c4-a420-fa03b8bf68fc">2022 Golf Tournament </a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/9af11c68-121a-466f-b33b-d319d62d2283">Application for Golf tournament</a>
                            
                          
                    </ul>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <a class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown" role="button" aria-expanded="false" data-bs-toggle="dropdown" href="#">About Us</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-label="navbarDropdown">
                      <!-- sort pages associated with a section by the position attribute -->
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                               <li class="dropdownBoxes"><%= link_to "Our History", basic_pages_Our_History_path, class: "dropdown-item navbarLink" %> </li>
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                              <li class="dropdownBoxes"><%= link_to "Club Officers", basic_pages_Club_Officers_path, class: "dropdown-item navbarLink" %> </li>
                              
                    </ul>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <a class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown" role="button" aria-expanded="false" data-bs-toggle="dropdown" href="#">Meeting Agendas  </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-label="navbarDropdown">
                      <!-- sort pages associated with a section by the position attribute -->
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/d4c930e4-c194-4325-b0eb-cb51f1bb9733">May 2022 Agenda</a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/9b2c0a93-4690-4b50-9c4b-105a32a14731"> September 2022 Agenda</a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/457459cb-1587-487a-8056-ceb40cf65c6e">Meeting Agenda October 13, 2022</a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/e2e12f46-3efd-4d96-b668-79f1ac0408c4">November Agenda 2022</a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/61f68ba4-550e-41db-b0a5-138e67e0b4be">June 2022 Agenda</a>
                            
                          
                        <!-- only show the page if the visible attribute is true -->
                        
                        <!-- change the type of link depending on what the link is supposed to go to -->
                            <a class="dropdown-item" href="/web/site/pdf/3e67ae4c-75f6-444e-86f7-f07c09d3628c">Agenda November 2022</a>
                            
                          
                    </ul>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <!-- if only has one page, change the section from a dropdown to a normal link -->
                        <a class="nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown navbarLink" href="/web/events/index">Events</a>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                  <a class="navbarDropdown nav-link text-light py-3 px-0 px-lg-3 rounded text-white navbarLink" href="#">Our Members</a>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <!-- if only has one page, change the section from a dropdown to a normal link -->
                            <a class="nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown navbarLink" href="/web/site/pdf/580301a3-8c27-4bc0-9e94-38baf3d12274">Kids Christmas Party</a>
                            
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <!-- if only has one page, change the section from a dropdown to a normal link -->
                    
                        
                        <%= link_to "Gallery", photo_albums_path, class: "nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown navbarLink" %>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <!-- if only has one page, change the section from a dropdown to a normal link -->
                        
                        <%= link_to "Sponsors", sponsors_path, class: "nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown navbarLink" %>
              </li>
              <li class="nav-item dropdown mx-0 mx-lg-1">
              <!-- check if the section has more than one page associated with it -->
                    <!-- if only has one page, change the section from a dropdown to a normal link -->
                            <a class="nav-link py-3 px-0 px-lg-3 rounded text-white navbarDropdown navbarLink" href="/web/site/pdf/93cf6a45-ac65-43fb-ac69-6b2f87f7b380">Scholarship</a>
                            
              </li>
          </ul>
          <ul class="navbar-nav ms-auto">



          <!-- checks if the user is signed in and whether or not they should have access to the control panel-->
            <!-- show the sign in button if they aren't signed in -->
               <li class="nav-link navbarDropdown mx-0 mx-lg-1 navbarLink"> <%= link_to image_tag("https://harmonyclubofworcester.org/assets/matchlogin-8cafe86222bb7d4facf82db26597634f9f388440d45ff62123ef50689b506a1e.png"), new_admin_session_path, class: "nav-link text-light acc-button" %> </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <svg xmlns="http://www.w3.org/2000/svg" class="displayNone">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
      </symbol>
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
      </symbol>
    </svg>
   <div class="container bg-light topPadding pb-2">
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>
   </div>
     <div class="bg-danger text-light">
      <div class="container">
          <div class="text-center border-bottom border-light p-1">
            <a class="text-light text-decoration-none" href="/">Harmony Club of Worcester | 2022</a>
          </div>
          <div class="row justify-content-center pt-1">
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Golf Tournament</h6>
              <ul class="d-inline footer-list">
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">About Us</h6>
              <ul class="d-inline footer-list">
                <li>
                      </li><li class="dropdownBoxes"><a class="footer-link" href="/basic_pages/Our_History">Our History</a></li>
                
                <li>
                      </li><li class="dropdownBoxes"><a class="footer-link" href="/basic_pages/Club_Officers">Club Officers</a></li>
                
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Meeting Agendas  </h6>
              <ul class="d-inline footer-list">
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Events</h6>
              <ul class="d-inline footer-list">
                <li>
                    <a class="footer-link" href="/web/events/index">Calendar</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Kids Christmas Party</h6>
              <ul class="d-inline footer-list">
                <li>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Sponsors</h6>
              <ul class="d-inline footer-list">
                <li>
                  <%= link_to "Sponsors", sponsors_path, class: "footer-link" %>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-3 text-center">
              <h6 class="d-inline">Scholarship</h6>
              <ul class="d-inline footer-list">
                <li>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>  
  </body>
</html>
